@keyframes show-line {
  33% { transform: scaleX(1); }
  66% { transform: scaleX(0); }
}

.textWrapper :global(.word) {
  display: inline-block;
  line-height: 1;
  opacity: 0;
}

.textWrapper :global(.line) {
  transform-origin: left;
  transform: scaleX(0);
  animation-fill-mode: forwards;
}

.textWrapper:global(.active) :global(.line) {
  animation-name: show-line;
}
