@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  overflow: hidden;
  /* font-family: "Melodrama", monospace; */

  font-weight: 300;
  font-family: 'Source Sans 3', sans-serif;

  background-color: #201F36;
  color: #FDF7FA;
  cursor: url("/virtudes/icons/cursor.svg") 18 18, auto;
}

body.theme--light {
  background-color: #979AAA;

}
body.theme--dark {
  background-color: #201F36;
}

h2 {

  font-family: "Melodrama", monospace;
}

li {


    /* font-family: 'Karma', serif; */
    font-family: "Melodrama", monospace;

}

a,
.pointer {
  cursor: url("/virtudes/icons/cursorpointer.svg") 18 18, pointer;
}

.img-blur {
  filter: blur(3px);
  transition: 0.5s ease-in-out;
}
.img-blur:hover {
  filter: blur(0);
}

#main.loaded span.mouse {
  visibility: visible;
}

#canvas-wrapper {
  opacity: 0;
  transition: opacity 1s;
  /* position: relative; */
  /* filter: url("#sea");
  -webkit-filter: url("#sea"); */
}

#canvas-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: rgb(43, 24, 69);
  opacity: 0.3;
}

#main.loaded #canvas-wrapper {
  opacity: 1;
}
