.decorTrees {
  transform-origin: center;
  user-select: none;
}

.topleft {
  top: 0;
  left: 0;
  transition: transform 0.5s;
  transform: translate(-50%, -50%) rotateZ(68deg);
}

.topleft:global(.active) {
  transform: translate(-55%, -55%) rotateZ(70deg);
}

.topright {
  top: 0;
  right: 0;
  transition: transform 1.2s;
  transform: translate(50%, -50%) rotateZ(165deg);
}

.topright:global(.active) {
  transform: translate(55%, -55%) rotateZ(160deg);
}

.bottomleft {
  bottom: 0;
  left: 0;
  transition: transform 0.7s;
  transform: translate(-50%, 50%) rotateZ(26deg);
}

.bottomleft:global(.active) {
  transform: translate(-55%, 55%) rotateZ(20deg);
}

.bottomright {
  bottom: 0;
  right: 0;
  transition: transform 1s;
  transform: translate(50%, 50%) rotateZ(331deg);
}

.bottomright:global(.active) {
  transform: translate(55%, 55%) rotateZ(320deg);
}

.decorTrees .left {
  bottom: 10%;
  left: 0%;
  scale: 1.3;
  transform: translate(-10%, 10%) rotateZ(36deg);
}
.decorTrees .right {
  bottom: 10%;
  scale: 1.3;
  right: 0%;
  transform: translate(0%, 20%) rotateZ(320deg);
}

.decorTrees .center {
  bottom: 0%;
  right: 50%;
  transform: translate(0%, 20%) rotateZ(11deg);
}
